<?xml version="1.0"?>
<config>
    <modules>
        <PensoPay_Payment>
            <version>1.0.0</version>
        </PensoPay_Payment>
    </modules>
    <global>
        <models>
            <pensopay>
                <class>PensoPay_Payment_Model</class>
            </pensopay>
        </models>
        <blocks>
            <pensopay>
                <class>PensoPay_Payment_Block</class>
            </pensopay>
        </blocks>
        <helpers>
            <pensopay>
                <class>PensoPay_Payment_Helper</class>
            </pensopay>
        </helpers>
    </global>
    <frontend>
        <routers>
            <pensopay>
                <use>standard</use>
                <args>
                    <module>PensoPay_Payment</module>
                    <frontName>pensopay</frontName>
                </args>
            </pensopay>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <pensopay_feed_notifications>
                        <class>pensopay/observer</class>
                        <method>controllerActionPredispatch</method>
                    </pensopay_feed_notifications>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pensopay after="Mage_Adminhtml">PensoPay_Payment_Adminhtml</pensopay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <pensopay>
                <active>0</active>
                <title>PensoPay</title>
                <order_status>processing</order_status>
                <payment_action>initialize</payment_action>
                <allowspecific>0</allowspecific>
                <testmode>1</testmode>
                <model>pensopay/method</model>
            </pensopay>
        </payment>
    </default>
</config>
