<?xml version="1.0"?>
<config>
    <modules>
        <PensoPay_Payment>
            <version>1.2.1</version>
        </PensoPay_Payment>
    </modules>
    <crontab>
        <jobs>
            <update_virtualterminal_payment_status>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pensopay/observer::updateVirtualterminalPaymentStatus</model>
                </run>
            </update_virtualterminal_payment_status>
            <pensopay_pending_payment_order_cancel>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>pensopay/observer::pendingPaymentOrderCancel</model>
                </run>
            </pensopay_pending_payment_order_cancel>
        </jobs>
    </crontab>
    <global>
        <models>
            <pensopay>
                <class>PensoPay_Payment_Model</class>
                <resourceModel>pensopay_resource</resourceModel>
            </pensopay>
            <pensopay_resource>
                <class>PensoPay_Payment_Model_Resource</class>
                <entities>
                    <payments>
                        <table>pensopay_payment</table>
                    </payments>
                </entities>
            </pensopay_resource>
        </models>
        <blocks>
            <pensopay>
                <class>PensoPay_Payment_Block</class>
            </pensopay>
        </blocks>
        <helpers>
            <pensopay>
                <class>PensoPay_Payment_Helper</class>
            </pensopay>
        </helpers>
        <resources>
            <pensopay_payment_setup>
                <setup>
                    <module>PensoPay_Payment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pensopay_payment_setup>
        </resources>
        <template>
            <email>
                <pensopay_virtualterminal_link translate="label">
                    <label>PensoPay VirtualTerminal Link</label>
                    <file>pensopay_virtualterminal_link.html</file>
                    <type>html</type>
                </pensopay_virtualterminal_link>
            </email>
        </template>
        <events>
            <order_cancel_after>
                <observers>
                    <pensopay_payment_cancel>
                        <type>singleton</type>
                        <class>pensopay/observer</class>
                        <method>cancelOrderAfter</method>
                    </pensopay_payment_cancel>
                </observers>
            </order_cancel_after>
        </events>
    </global>
    <frontend>
        <routers>
            <pensopay>
                <use>standard</use>
                <args>
                    <module>PensoPay_Payment</module>
                    <frontName>pensopay</frontName>
                </args>
            </pensopay>
        </routers>
        <layout>
            <updates>
                <pensopay>
                    <file>pensopay.xml</file>
                </pensopay>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <pensopay_payment>
                        <class>pensopay/observer</class>
                        <method>addViabillPricetag</method>
                    </pensopay_payment>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_place_after>
                <observers>
                    <pensopay_payment>
                        <type>singleton</type>
                        <class>pensopay/observer</class>
                        <method>saveOrder</method>
                    </pensopay_payment>
                </observers>
            </sales_order_place_after>
            <checkout_type_onepage_save_order>
                <observers>
                    <pensopay_payment>
                        <class>pensopay/observer</class>
                        <method>checkoutTypeOnepageSaveOrder</method>
                    </pensopay_payment>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <pensopay>
                    <file>pensopay.xml</file>
                </pensopay>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <pensopay_feed_notifications>
                        <class>pensopay/observer</class>
                        <method>controllerActionPredispatch</method>
                    </pensopay_feed_notifications>
                </observers>
            </controller_action_predispatch>
            <checkout_submit_all_after>
                <observers>
                    <pensopay_payment>
                        <class>pensopay/observer</class>
                        <method>checkoutSubmitAllAfter</method>
                    </pensopay_payment>
                </observers>
            </checkout_submit_all_after>
            <adminhtml_block_html_before>
                <observers>
                    <pensopay_payment_mass>
                        <class>pensopay/observer</class>
                        <method>onBlockHtmlBefore</method>
                    </pensopay_payment_mass>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pensopay after="Mage_Adminhtml">PensoPay_Payment_Adminhtml</pensopay>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <pensopay>
                <active>0</active>
                <title>PensoPay</title>
                <order_status>processing</order_status>
                <payment_action>initialize</payment_action>
                <allowspecific>0</allowspecific>
                <testmode>1</testmode>
                <model>pensopay/method</model>
                <checkout_method>redirect</checkout_method>
                <auto_capture>0</auto_capture>
                <auto_fee>0</auto_fee>
                <cardlogos>dankort,visa,mastercard,maestro</cardlogos>
                <cardlogos_size>20</cardlogos_size>
                <instructions>Pay with your credit card via PensoPay</instructions>
                <order_status>pending</order_status>
                <pending_payment_order_cancel>0</pending_payment_order_cancel>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <sendmailorderconfirmationbefore>0</sendmailorderconfirmationbefore>
                <order_status_after_payment>processing</order_status_after_payment>
                <subtract_stock_on_processing>0</subtract_stock_on_processing>
            </pensopay>
            <pensopay_viabill>
                <active>0</active>
                <shop_id></shop_id>
                <show_in_product>1</show_in_product>
                <show_in_category>1</show_in_category>
                <show_in_cart>1</show_in_cart>
                <model>pensopay/method_viabill</model>
                <title>PensoPay ViaBill</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with ViaBill</instructions>
            </pensopay_viabill>
            <pensopay_mobilepay>
                <active>0</active>
                <model>pensopay/method_mobilepay</model>
                <title>PensoPay MobilePay</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with MobilePay</instructions>
            </pensopay_mobilepay>
            <pensopay_mobilepay_checkout>
                <active>0</active>
                <title>PensoPay MobilePay Checkout</title>
                <instructions>Pay with MobilePay</instructions>
                <shipping_store_pick_up_title>Hent i butikken</shipping_store_pick_up_title>
                <shipping_home_delivery_title>Ordren leveres til din hjemmeadresse</shipping_home_delivery_title>
                <shipping_registered_box_title>Afhentning i en pakkeshop (registered_box)</shipping_registered_box_title>
                <shipping_unregistered_box_title>Afhentning i en pakkeshop (unregistered_box)</shipping_unregistered_box_title>
                <shipping_pick_up_point_title>Afhentning i en pakkeshop (pick_up_point)</shipping_pick_up_point_title>
                <shipping_own_delivery_title>Ordren leveres til din hjemmeadresse</shipping_own_delivery_title>
            </pensopay_mobilepay_checkout>
            <pensopay_klarna>
                <active>0</active>
                <model>pensopay/method_klarna</model>
                <title>PensoPay Klarna</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Klarna</instructions>
            </pensopay_klarna>
            <pensopay_dankort>
                <active>0</active>
                <model>pensopay/method_dankort</model>
                <title>PensoPay Dankort</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Dankort</instructions>
            </pensopay_dankort>
            <pensopay_klarnapayments>
                <active>0</active>
                <model>pensopay/method_klarnapayments</model>
                <title>PensoPay Klarna Payments</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with KlarnaPayments</instructions>
            </pensopay_klarnapayments>
            <pensopay_vipps>
                <active>0</active>
                <model>pensopay/method_vipps</model>
                <title>PensoPay Vipps</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Vipps</instructions>
            </pensopay_vipps>
            <pensopay_paypal>
                <active>0</active>
                <model>pensopay/method_paypal</model>
                <title>PensoPay PayPal</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with PayPal</instructions>
            </pensopay_paypal>
            <pensopay_anyday>
                <active>0</active>
                <model>pensopay/method_anyday</model>
                <title>PensoPay Anyday</title>
                <allowspecific>0</allowspecific>
                <instructions>Pay with Anyday</instructions>
            </pensopay_anyday>
        </payment>
        <carriers>
            <pensopay_mobilepay>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>pensopay/carrier_shipping</model>
                <name>PensoPay</name>
                <price>0.00</price>
                <title>MobilePay Checkout</title>
                <handling_type>F</handling_type>
            </pensopay_mobilepay>
        </carriers>
    </default>
</config>
